
#map {
    height: 500px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    height: 5.0rem;
    background: white;
    box-shadow: 0px 0px 5px #333;
    margin-bottom:0px;
}

.nav-item img {
    max-height: 5.0rem;
}

.nav-toggle {
    height: 5.0rem;
    width: 5.0rem;
}

.nav-item a, a.nav-item {
    color:#333;
}


.nav-item a, a.nav-item:hover {
    color:#FFF;
    background:#E0DFDF;
}

.hero.is-primary.is-bold {
    background:url('https://farm1.static.flickr.com/762/32608887233_4a24f60f6a_b.jpg');
    background-color: rgba(255, 32, 32, 0.43);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.justify {
    text-align: justify;
}

.hero-body {
    height:500px;
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #ED2D26;
    color: #ED2D26;
}

.button.is-primary {
    background-color: #ED2D26;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:hover {
    background-color: #333;
    border-color: transparent;
    color: #fff;
}

.button.is-danger.is-outlined:hover {
    background-color: #ED2D26;
}

.section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer {
    background: url('http://g1.dcdn.lt/images/pix/peislio-rastas-68299854.jpg');
    padding: 3.5rem 2rem 2rem;
}

.footer-text {
    color:white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.96);
}