<section class='container section'>
  <h1 class="title is-2 is-spaced">Contact Us</h1>
  <div class='columns'>
    <div class='column'>
      <p class='justify'>
        We are a youth organisation that aims to respond effectively to the needs of the most vulnerable children, young people and
        families within Paisley. You can contact Darren directly or use the below form. You can find us in the centre of
        Paisley a few minutes from the centre of town or Paisley Gilmour Street Station.
      </p>
    </div>
    <div class='column'>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAQ7AAAAJDg4YjIzYjI5LTYzNjgtNDQzYS04NmQ0LWRlMzI2NDhkMjAzNA.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Darran Gillan</strong><br> Office: <a>39 High Street, PA1 2AF</a><br> Email: <a>darran@paisleyymca.org</a><br>                Phone: <a>0141 889 2876</a><br>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

</section>

<div ng-init='setupMap()' id="map"></div>

<section class='container section'>
  <div class='column'>
    <div class='column is-8 is-offset-2'>
      <div class="field">
        <label class="label">Name</label>
        <p class="control">
          <input ng-model='name' class="input" type="text" placeholder="Your name">
        </p>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
          <input ng-model='email' class="input" type="text" placeholder="Your email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label">Subject</label>
        <p class="control is-expanded">
          <span class="select is-fullwidth">
            <select ng-model='subject' ng-options='sub for sub in subjects'></select>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <p class="control">
          <textarea ng-model='message' class="textarea" placeholder="Your message"></textarea>
        </p>
      </div>

      <div class="field">
        <p class="control has-text-centered">
          <button ng-click="submit()" class="button is-primary">Submit</button>
        </p>
      </div>
    </div>
  </div>
</section>