<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
    </div>
</section>

<div id='app'>
    <section class='container section'>
        <h1 class="title is-2  is-spaced">Who We Are !!!</h1><hr/>
        <p class='justify'>
            Paisley YMCA is a registered youth charity governed by a Board of Management made up of members from the local community that pre dates the YMCA movment serving the people of Paisley for 185 years.  As an accredited Investors in Young People organisation our aim is to support and develop young people to reach their full potential through digitally based cultural and educational projects and programmes that develop an entrepreneurial spirit.    
        </p>
    </section>
    
    <section class='container section'>
        <h1 class="title is-2 is-spaced">Our Objectives</h1><hr/>
        <div class='content'>
            <ul>
                <li>
                    To fulfil its Christian mission by bringing peace, justice and hope to broken lives.
                </li>
                <li>
                    To respond effectively to the needs of the most vulnerable children, young people and families.
                </li>
                <li>
                    To invest in Scotland's young people helping them to realise their fullest potential.
                </li>
                <li>
                    To strengthen families at the heart of local communities.
                </li>
                <li>
                    To work closely with parents and partner organisations.
                </li>
            </ul>
        </div>

        <div class='has-text-centered' style='margin-top: 5rem;'>
            <a ng-click='goto("venue")' class="button is-danger is-outlined is-medium">Venue Hire</a>
            <a ng-click='goto("activities")' class="button is-danger is-outlined is-medium">Youth Activity</a>
            <a ng-click='goto("volunteer")' class="button is-danger is-outlined is-medium">Volunteer</a>
            <a ng-click='goto("donate")' class="button is-danger is-outlined is-medium">Donate Here</a>
            <a ng-click='goto("contacts")' class="button is-danger is-outlined is-medium">Contact Us</a>
        </div>
    </section>
</div>