<section class="hero home-hero is-fullheight is-dark">
    <div class="hero-body has-text-centered">
        <div class="container">
        <h1 class="title">
            Empowering People in Paisley
        </h1>
        <h2 class="subtitle">
        </h2>
        </div>
    </div>
</section>
<div id='app'>
    <section class='container section'>
        <h1 class="title is-2 is-spaced">Who We Are</h1><hr/>
        <p class='justify'>
            Paisley YMCA is a registered youth charity governed by a Board of Management made up of members from the local community that pre dates the YMCA movment serving the people of Paisley for 185 years.  As an accredited Investors in Young People organisation our aim is to support and develop young people to reach their full potential through digitally based cultural and educational projects and programmes that develop an entrepreneurial spirit.    
        </p>
    </section>
    <section class='container section'>
        <h1 class="title is-2 is-spaced">Our Objectives</h1><hr/>
        <div class='content'>
            <ul>
                <li>
                    To fulfil its Christian mission by bringing peace, justice and hope to broken lives.
                </li>
                <li>
                    To respond effectively to the needs of the most vulnerable children, young people and families.
                </li>
                <li>
                    To invest in Scotland's young people helping them to realise their fullest potential.
                </li>
                <li>
                    To strengthen families at the heart of local communities.
                </li>
                <li>
                    To work closely with parents and partner organisations.
                </li>
            </ul>
        </div>
    </section>
    <section class='container section has-text-centered'>   
        <div class="columns is-desktop">
            <div class='column'>
                <a ng-click='goto("venue")' class="button full-width is-danger is-outlined is-medium">Venue Hire</a>
            </div>
            <div class='column'>
                <a ng-click='goto("activities")' class="button full-width is-danger is-outlined is-medium">Youth Activity</a>
            </div>
            <div class='column'>
                <a ng-click='goto("volunteer")' class="button full-width is-danger is-outlined is-medium">Volunteer</a>
            </div>
            <div class='column'>
                <a ng-click='goto("donate")' class="button full-width is-danger is-outlined is-medium">Donate Here</a>
            </div>
            <div class='column'>
                <a ng-click='goto("contacts")' class="button full-width is-danger is-outlined is-medium">Contact Us</a>
            </div>
            <div class='column'>
                <a ng-click='goto("contacts")' class="button full-width is-danger is-outlined is-medium">Contact Us</a>
            </div>
        </div>
    </section>
</div>
